@import '@repo/design-tokens/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-body);
    @apply bg-cream text-navy;
    margin: 0;
  }

  .client-portal-layout {
    --client-sidebar-width: 260px;
  }
}
